GET operations should not have in body or formaData parameters

A GET operation should not have body or formData parameter. Throw a validation error if there was one.

/cc @webron

This is more of a swagger-schema thing if you ask me.  But if @webron disagrees, or cannot put it into the spec, we can add this to our [semantic validations](https://github.com/apigee-127/sway/blob/master/docs/versions/2.0.md#semantic-validation).

The Swagger spec doesn't forbid it and so the schema won't forbid it as well. Not getting into the debate of whether this is supported in general, should be used or not (technically, it's not forbidden, but avoid it for semantic and technical reasons). As far as I'm concerned, this is an API design issue and not a Swagger validation one.

I think we'll add it as a warning since it's really just a *"Hey,  you might not had intended this to be here but it's harmless as-is."*

If it's allowed by spec, throwing a warning is the right thing to do IMO also. 

Throwing a warning is definitely an option, but it's up to you do decide what roles you put on sway. Is it its job to hint users about API design? Would it be expanded later to other additional use cases (and there are plenty)?

I like the idea of a separate API design linter plugin.

Good points but we're already doing that for unused objects (definitions, security definitions, etc.) and that has been received very well.  If the purpose of validation is to tell you of errors and to warn you of things you did that make no sense or are ignored, I think it makes sense to do it.

At some point, we should make these things configurable I guess.  Warnings specifically.

The use cases are not equivalent to me. What you just described is specifically related to Swagger - unused objects. That implies that you created something that's incomplete with regard to your Swagger definition.

The original issue is related to API design which is a different scope. It has nothing to do specifically with Swagger.

Both are valid for warning generations, but to me those are different goals of the tool. As the project Owner(s), it is up to you to decide what scope(s) you want to cover. I have no opinion on the matter.

Well, unused means you supplied superfluous object definitions which is very similar to this because this case you are supplying superfluous parameter definitions.  Both types are harmless.

As I typed this out, I did have one use case that might make this worth bringing up: request validation.  If you define required parameters as described above, you could trigger request validation failures as you'd never really provide those values with a GET request.  In that case, I'd love to know before hand that I messed up and to me, that makes this more of a *need* and less of a *nice to have*.

FYI RFC 2616 §9.3 does not prohibit body in GET request. Based on my little research Windows Communication Foundation (WCF) framework is the only framework that throws an error if you define a GET request that expects request body.

I don't know what is the scope of this, but I think it's fair to throw a warning for such bad API design.

[Roy Fielding seems to have an opinion](https://groups.yahoo.com/neo/groups/rest-discuss/conversations/messages/9962) on this and since Swagger is for RESTful APIs, I guess we need to take what he says to heart:

    Yes. In other words, any HTTP request message is allowed to contain
    a message body, and thus must parse messages with that in mind.
    Server semantics for GET, however, are restricted such that a body,
    if any, has no semantic meaning to the request. The requirements
    on parsing are separate from the requirements on method semantics.
    
    So, yes, you can send a body with GET, and no, it is never useful
    to do so.
    
    This is part of the layered design of HTTP/1.1 that will become
    clear again once the spec is partitioned (work in progress).
    
    ....Roy

My understanding of this is that it is valid for a GET request to have a body and it should be processed but to be truly RESTful, *"has no semantic meaning to the request"*.  So I guess we need to allow it and a warning might not make sense after all.

Taking the above into account, I think @theganyo is right and this shouldn't live in sway.  If you really want it, you can register your own validator to do this.  I'm not completely against adding it but the more I read, the less I think we should have an opinion on the matter.

This is all a matter of API design entirely unrelated to Swagger. Swagger in general does not impose API design except for - a. limitations we unintentionally imposed and b. some rare cases that we really don't want to support (and this is more due to trying to reduce complexity than say we don't like a specific design paradigm). 

Payloads for get operations is not something Swagger cares about, at least for now, and be it restrictions by frameworks or the opinion of Ray Fielding (no disrespect, but the basic fact is most REST APIs do not follow the RESTful rules, for better or worse). 

If you want to start handing API design matters outside the scope of Swagger, which is an entirely legitimate goal, just be prepared for people to ask for additional warning/errors about what *they* feel is the right API design even though we all know there's no golden standard.

When I opened this issue I was under the impression that GET requests can not have body payloads per standard. TIL that's not true, therefore I'm closing this. 

We better not get into giving API design advise I think :grinning: 

Agreed.  Awesome conversation guys, really helpful and productive.

Thanks for bringing it up though, @mohsen1. I think it helps us all understand the boundaries we can and like to control. Keep up with the ideas, you're keeping us fresh :)

It's also a great idea for a sway-based linter for doing design linting above/beyond what sway itself does.  Seems very useful.